#a{
    background-color: #281205;
    border-color: #281205;
    color: #ffffff;
}
#b{
    background-color: #2F1206;
    border-color: #2F1206;
    color: #ffffff;
}
#c{
    background-color: #3D1308;
    border-color: #3D1308;
    color: #ffffff;
}
#d{
    background-color: #5C1013;
    border-color: #5C1013;
    color: #ffffff;
}
#e{
    background-color: #7B0D1E;
    border-color: #7B0D1E;
    color: #ffffff;
}
#f{
    background-color: #8D1730;
    border-color: #8D1730;
    color: #ffffff;
}
#g{
    background-color: #9F2042;
    border-color: #9F2042;
    color: #ffffff;
}
#h{
    background-color: #CC8398;
    border-color: #CC8398;
    color: #ffffff;
}
#i{
    background-color: #F8E5EE;
    border-color: #F8E5EE;
    color: #5C1013;
}
